@import "tailwindcss";

@theme {
  --color-primary: #2563EB;
  --color-secondary: #1E3A8A;
  --color-background: #F8FAFC;
  --color-dark: #0F172A;
  
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    background-color: var(--color-background);
    color: var(--color-dark);
    font-family: var(--font-sans);
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
  }
}

:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
}
